/* Theme Colors */

:root {
  --accent-color: #ffc43f;
  --dark-color: #222222;
  --light-dark-color: #727272;
  --light-color: #fff;
  --grey-color: #dbdbdb;
  --light-grey-color: #fafafa;
  --primary-color: #6995b1;
  --light-primary-color: #eef1f3;
}

/* Font */
:root {
  --body-font: "Open Sans", sans-serif;
  --heading-font: "Nunito", sans-serif;
  --size: 18px;
  --margin-top-size: 90px;
}

body {
  letter-spacing: 0.03rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
  color: var(--dark-color);
  font-weight: 800;
  font-size: var(--size);
}

.display-4 {
  font-weight: 700;
  font-size: 48px;
}

.form-control {
  text-transform: capitalize;
  padding: 1rem 0rem 1rem 1rem;
}

.form-control:focus {
  outline: 0;
  box-shadow: none;
}

a {
  color: #333;
}

.hero-section {
  background-size: cover;
  background-position: center;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.rounded {
  position: relative;
}

.rounded h5 {
  color: #2a6ebc;
  font-weight: 700;
}

.rounded h3,
.rounded p,
.rounded button {
  position: relative;
  z-index: 1;
}

#second-column {
  margin-top: 5px;
}

/* Product Card Styles */

.product-card {
  position: relative;
  text-align: center;
}

.product-image {
  height: 300px;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.discount-tag {
  position: absolute;
  top: 10px;
  left: 10px;
  background: red;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
}

.add-to-cart-btn {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(0, 0, 0, 0.7);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.product-image:hover .add-to-cart-btn {
  opacity: 1;
}

.product-details {
  text-align: center;
}

.product-name {
  font-size: 16px;
  margin-bottom: 5px;
}

.product-rating {
  color: #ffc107;
  font-size: 14px;
}

.product-price {
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

/* Newsletter Left Column Styles */
.newsletter-left {
  position: relative;
  overflow: hidden;
}

.newsletter-left h2,
.newsletter-left p,
.newsletter-left button {
  position: relative;
  z-index: 1;
}

.newsletter-left button {
  margin-top: 20px;
}

/* Newsletter Right Column Styles */
.newsletter-right {
  background: #ffffff; /* White background for the form */
  border-radius: 0 10px 10px 0; /* Match the right column's border radius */
  padding: 20px;
}

.newsletter-right h2 {
  color: #333;
}

.newsletter-right .form-control {
  border-radius: 5px;
  padding: 10px;
}

.newsletter-right .btn-primary {
  background-color: #007bff;
  border: none;
  padding: 10px;
  border-radius: 5px;
}

.listed-product a {
  text-decoration: none;
}

/* Newsletter Second Form */

.newsletter-title {
  margin-top: var(--margin-top-size);
}

p {
  font-style: italic;
  font-weight: 500;
}

/* Banner ad */

.banner-blocks {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 2rem;
  overflow: hidden;
}

.block-1 {
  grid-area: 1 / 1 / 3 / 8;
}

.block-2 {
  grid-area: 1 / 8 / 2 / 13;
}

.block-3 {
  grid-area: 2 / 8 / 3 / 13;
}

@media screen and (max-width: 1140px) {
  .banner-blocks {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
  }
  .block-1 {
    grid-area: 1 / 1 / 3 / 2;
  }
  .block-2 {
    grid-area: 3 / 1 / 4 / 2;
  }
  .block-3 {
    grid-area: 4 / 1 / 5 / 2;
  }
}

.banner-ad {
  position: relative;
  overflow: hidden;
  border-radius: 12px;
}

.banner-ad.blue {
  background: #e6f3fb;
}

.banner-ad .swiper-pagination {
  bottom: 40px;
  left: 0;
  right: 0;
}

.banner-ad .swiper-pagination .swiper-pagination-bullet {
  width: 16px;
  height: 16px;
  margin: 4px;
  background: #fff;
  opacity: 1;
  transition: background 0.3s ease-out;
}

.banner-ad .swiper-slide {
  display: flex;
  margin-top: 140px;
}

.banner-ad .banner-content .categories {
  font-family: "Garmond";
  font-size: 37px;
  text-transform: capitalize;
  color: var(--dark-color);
}

.banner-ad .banner-content .sale {
  position: relative;
  display: inline-block;
}

.banner-ad .banner-content .sale:before {
  content: "";
  width: 80px;
  border-bottom: 1px solid #111;
  position: absolute;
  bottom: 6px;
}

.banner-ad .banner-content .sale:after {
  content: "SALE";
  font-family: var(--body-font);
  position: absolute;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  color: #252525;
  bottom: 0;
  right: 0;
}

.banner-wrapper {
  margin-top: 100px;
}

.banner-ad .banner-content .banner-title {
  letter-spacing: 0.02em;
  font-size: 33px;
}

.banner-ad.large .banner-content .categories {
  color: var(--accent-color);
  text-align: left;
}

.banner-ad.large .banner-content .banner-title {
  font-size: 54px;
}

// Swiper carousel

.swiper {
  display: flex;
  width: 600px;
  height: 300px;
}

/* Swiper carousel */
.swiper-prev,
.swiper-next {
  width: 38px;
  height: 38px;
  line-height: 38px;
  background: #f1f1f1;
  color: #222222;
  padding: 0;
  text-align: center;
  border-radius: 10px;
  --bs-btn-border-color: transparent;
  --bs-btn-active-bg: #ec9b22;
  --bs-btn-active-border-color: transparent;
  --bs-btn-hover-bg: #ffc43f;
  --bs-btn-hover-border-color: transparent;
  --bs-btn-disabled-color: #ccc;
  --bs-btn-disabled-bg: #eaeaea;
  --bs-btn-disabled-border-color: #eaeaea;
}
.swiper-prev:hover,
.swiper-next:hover {
  background: #ffc43f;
}

.btn-link {
  margin-right: 30px;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  text-align: right;
  text-transform: capitalize;
  color: #787878;
}
/* category carousel */
.category-carousel .category-item {
  background: #ffffff;
  border: 1px solid #fbfbfb;
  box-shadow: 0px 5px 22px rgba(0, 0, 0, 0.04);
  border-radius: 16px;
  text-align: center;
  padding: 60px 20px;
  margin: 20px 0;
  transition: box-shadow 0.3s ease-out, transform 0.3s ease-out;
}
.category-carousel .category-item:hover {
  transform: translate3d(0, -10px, 0);
  box-shadow: 0px 21px 44px rgba(0, 0, 0, 0.08);
}
.category-carousel .category-item .category-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #222222;
  margin-top: 20px;
}

/* Product Items */

#product-showing {
  width: 300px;
}

.product-item {
  position: relative;
  padding: 16px;
  background: #ffffff;
  border: 1px solid #fbfbfb;
  box-shadow: 0px 5px 22px rgba(0, 0, 0, 0.04);
  border-radius: 16px;
  margin-bottom: 30px;
  transition: box-shadow 0.3s ease-out;
}
.product-item:hover {
  box-shadow: 0px 21px 44px rgba(0, 0, 0, 0.08);
}
.product-item h3 {
  display: block;
  width: 100%;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  text-transform: capitalize;
  color: #333333;
  margin: 0;
}
.product-item figure {
  background: #f9f9f9;
  border-radius: 12px;
  text-align: center;
}
.product-item figure img {
  max-height: 210px;
  height: auto;
}
.product-item .btn-wishlist {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  border: 1px solid #d8d8d8;
  transition: all 0.3s ease-out;
}
.product-item .btn-wishlist:hover {
  background: rgb(240, 56, 56);
  color: #fff;
}
.product-item .qty {
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #9d9d9d;
}
.product-item .rating {
  font-weight: 600;
  font-size: 13px;
  line-height: 18px;
  text-transform: capitalize;
  color: #222222;
}
.product-item .rating iconify-icon {
  color: #ffc43f;
}
.product-item .price {
  display: block;
  width: 100%;
  font-weight: 600;
  font-size: 22px;
  line-height: 30px;
  text-transform: capitalize;
  color: #222222;
}
.product-item .product-qty {
  width: 85px;
}
.product-item .btn-link {
  text-decoration: none;
}
.product-item #quantity {
  height: auto;
  width: 28px;
  text-align: center;
  border: none;
  margin: 0;
  padding: 0;
}
.product-item .btn-number {
  width: 26px;
  height: 26px;
  line-height: 1;
  text-align: center;
  background: #ffffff;
  border: 1px solid #e2e2e2;
  border-radius: 6px;
  color: #222;
  padding: 0;
}
